* {
    padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
}
/*That is easier to read and will be the main text layout of the website acccording to the proposal*/

 body.home-page {
    background-image: url(imageshefit/strengthclass.png);
    color: #333; /* This is the dark text that lays over the background image*/
    background-size: cover;

 }
/* The home page background design*/

 ul {
    list-style-type: none;
 }